@model IEnumerable<TravelAgency.DAL.DAL.tKlienciOfertyHistoria>

@{
    ViewBag.Title = "Index";
}

<h2>Offer History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tHistoriaOfert.DataWyjazdu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tHistoriaOfert.tPanstwa.NazwaPanstwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tHistoriaOfert.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tHistoriaOfert.LiczbaDniTrwania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tOsoby.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tOsoby.Nazwisko)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tHistoriaOfert.DataWyjazdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tHistoriaOfert.tPanstwa.NazwaPanstwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tHistoriaOfert.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tHistoriaOfert.LiczbaDniTrwania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tOsoby.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tOsoby.Nazwisko)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.IDOferty })
            </td>
        </tr>
    }

</table>
